@media screen and (min-width: 767px){
html{ 
        margin: 0; 
        background-image: url('images/rapclip.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        backdrop-filter: blur(4px); 
    }

img{
    margin: 0;
    display: block;
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    border-radius: 48px;
    }
}

@media screen and (max-width: 766px){
html{  
        background-image: url('images/rapclip.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        backdrop-filter: blur(4px); 
    }

img{
    margin: 0;
    display: block;
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    border-radius: 48px;
    }
}

@media screen and (max-device-width: 375px){
    html{
        background-image: url('images/rapclip.svg');
        background-size: 1200px;
        background-repeat: no-repeat;
        backdrop-filter: blur(4px); 
        }

    body{
        margin-top: 200px;
        margin-bottom: auto;
        backdrop-filter: blur(4px);
    }
    img{
        height: 250px;
        width: 250px;
        margin: auto;
        position: relative;
        border-radius: 48px;
        backdrop-filter: blur(4px);
        }
    .button{
        height:72px;
        width: 172px;
        margin-left:90px;
        margin-top:100px;
        border-radius: 48px;
        background-color: gray;
        color: white;
        font-size: 28px;
        font-weight: 400;
        }
    .footer{
        margin-top: 90px;
    }
    .copyright{
        float: left;
        width: 178px;
        background-color: gray;
        color: white;
        text-align: center;
        }
    .mentions{
        float: left;
        width: 178px;
        text-align:center;
        color:white;
        background-color: gray;
    }
    }
